.board-list {
    display: flex;  
    flex-flow: row wrap;
    background: lightsteelblue;
    width: 100%;
    max-height: 25vh;
    padding: 25px 0% 25px 10px;   
    overflow: visible; 
    max-width: 900px;
    min-width: 288px;
}

.board-list .board-list-item {
    background-color: lightpink; 
    height: 90px;  
    width: 21%;  
    !max-width: 180px; 
    margin: 10px 0px 10px 18px;
    align-self: center;
}

@media only screen and (max-width: 900px) and (min-width: 751px) {
    .board-list {  
    }

    .board-list .board-list-item { 
        width: 29%;   
        margin: 10px 0px 10px 12px;
    }
}

@media only screen and (max-width: 750px) and (min-width: 601px) {
    .board-list {  
    }

    .board-list .board-list-item { 
        width: 44%;   
        margin: 10px 0px 10px 8px;
    }
}

@media only screen and (max-width: 600px) { 
    .board-list .board-list-item { 
        width: 46%;   
        margin: 10px 0px 10px 8px;
    }
}