.create-new-board-container { 
    position: absolute;
    overflow: hidden;
    height: 91.5vh;
    width: 100%;
    z-index: 1;
    background-color: rbga(255, 255, 255, 0.1);
}

.create-new-board-box {
    opacity: 100%;
    height: 145px;
    width: 405px; 
    position: absolute;
    margin-top: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    /* background-color: skyblue; */
    display: flex;
}

.create-new-board-box .new-board-detail-box {
    /* background-color: mediumorchid; */
    width: 295px;
    height: 13vh;    
    float: left;
    border-radius: 3px;
}

.create-new-board-box .new-board-bg-list {
    /* background-color: lightpink; */
    width: 110px;
    height: 13vh;  
    display: flex;
    flex-wrap: wrap; 
    /* padding-left: 8px; */
}
 
.create-new-board-box .new-board-bg-list .bg-selector {
    width: 28px;
    height: 27px;  
    margin: 0px 0px 6.5px 8px;
    border-radius: 3px;
}

.create-new-board-box .new-board-bg-list .bg-selector > i {
    color: white;
    z-index: 1;
    position: absolute;
    margin-top: 7px;
    margin-left: 7.5px;
    font-size: 12px;
}

.create-new-board-box .new-board-bg-list .bg-selector:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.create-new-board-box .new-board-bg-list .bg-selector:active { 
    filter: brightness(70%);
}

.create-new-board-box .create-button { 
    width: 105px;
    height: 35px;   
    background-color: salmon;
    margin-top: 10px;
    border-radius: 3px;
    display: flex; 
    justify-content: center;
    user-select: none;  
    outline: none;
    border: none;
}

.create-new-board-box .create-button:hover { 
    cursor: pointer;
    filter: brightness(110%);
}

.create-new-board-box .create-button:active {  
    filter: brightness(80%);
}

.create-new-board-box .create-button:disabled {   
    cursor: not-allowed;
    background-color: whitesmoke; 
}
.create-new-board-box .create-button:disabled > p {   
    color: darkgrey;
}

.create-new-board-box .create-button > p { 
    padding: 0;
    margin: 0;
    margin-left: -2px;
    font-size: 14px; 
    align-self: center;
    color: whitesmoke;
}