.board-menu-bar {
    /* background-color: orange;  */
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    align-content: center; 
    user-select: none; 
    /* padding-bottom: 8px; */
    padding-top: 8px; 
    justify-content: space-between; 
}

.board-menu-bar .board-menu-left {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8px; 
    align-items: center;
}

.board-menu-bar .board-menu-left .board-name-box {
    /* background-color: wheat;  */
    align-self: center 
}

.board-menu-bar .board-menu-left .board-name-box > p {
    min-width: 9px;
    max-width: 97%;
    padding: 4px 12px 4px 12px; 
    margin: 0px 0px 8px 0px; 
    border-radius: 3px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    display: inline;
    letter-spacing: 0.2px;
    word-break: break-all;
    word-wrap: break-word; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.board-menu-bar .board-menu-left .board-name-box > p:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    /* padding-bottom: 5px; */
    /* padding: 0px 5px 8px 5px; */
}

.board-menu-bar .board-menu-left .board-star {
    visibility: visible;
    opacity: 100;
    padding: 0;
    margin: 0px 0px 8px 0px;
    margin-left: -9px;
    width: 47px;
}

.board-menu-bar .board-menu-left .board-star > a {
    padding: 0px; 
    margin: 0px; 
}

.board-menu-bar .board-menu-left .board-star > a > i {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 3px;
    padding: 10px; 
    font-size: 12px; 
}

.board-menu-bar .board-menu-left .board-star > a > i:hover {
    background-color: rgba(255, 255, 255, 0.4); 
}
 
.board-menu-bar .board-menu-left .board-name-box > i:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
}

.board-menu-bar .board-menu-left .board-avatar-box {
    display: flex;
    margin: 0px 11px 8px 4px; 
}

.board-menu-bar .board-menu-left .board-avatar-box .avatar {
    display: flex;
    max-width: 28px;
    max-height: 28px;
    margin-left: 0px;
    margin-right: -3px;
    color: midnightblue;
    background-color: gainsboro;
    border-width: 0; 
    font-size: 12px;
    font-weight: 700;
}

.board-menu-bar .board-menu-left .board-avatar-box .avatar:hover {
    filter: brightness(88%);
    cursor: pointer;
}

.board-menu-bar .board-menu-left .board-avatar-box .avatar:active {
    filter: brightness(84%); 
}

.board-menu-bar .board-menu-right {
    display: flex; 
    flex-wrap: wrap;
    margin-left: 8px;  
    margin-right: 8px;
} 
  
.board-menu-bar .sep-line {
    height: 17px;
    width: 0.1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0px 8px 8px 8px;
}